.root {

    font-family: 'Inter', Arial, sans-serif;
    background-color: #ffffff;
  }

.page {
  max-width: 100%;
  margin: 0 auto;
  /*background-color: #0428A6;*/
}

.section-content {
  max-width: 1280px;
  margin: 0 auto;
}

.section-content_dark {
  background-color: #0428A6;
}

@media screen and (max-width: 1300px) {
  .section-content {
      max-width: calc(100% - 40px);
  }
}

