.years {
    background-color: #E9E9E9;
    padding: 50px 0;
}

.years__content {
    max-width: 1061px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.years__title {
    margin: 0;

    font-weight: bold;
    font-size: 64px;
    line-height: 121.52%;
    letter-spacing: 0.01em;

    color: rgba(1, 28, 123, 0.79);

    min-width: 342px;
}

.years__about {
    margin: 0;
    margin-left: 26px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 121.52%;
    /* or 29px */

    letter-spacing: 0.01em;

    color: #000000;
}

@media screen and (max-width: 1100px) {
    .years {
        padding: 34px 0;
    }
    .years__content {
        /*max-width: calc(100% - 40px);*/
        max-width: 700px;
        justify-content: space-between;
    }
    .years__title {
        font-size: 36px;
        min-width: 205px;
    }
    .years__about {
        font-size: 14px;
        max-width: 480px; /*можно подправить */
        
    }
}

@media screen and (max-width: 768px) {
    .years__content {
        flex-direction: column;
    }
    .years__about {
        max-width: 215px;
        margin: 35px 0 0;
        text-align: center;
        line-height: 1.5;
    }
}