.today {
    background-image: url(../../images/back-today1.png);
    background-size: 100%, contain;
    background-position: 0 176px;
    background-repeat: no-repeat;
    background-color: #0428A6;
}

@media screen and (max-width: 1100px) {
    .today {
        background-position: 0 106px;
    }
}