.intro {
    background-color: #0428A6;
    padding: 134px 0 92px;
}

.intro__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid #0066FF;
    border-radius: 9px;

    display: flex;
    justify-content: center;
}


.intro__img {
    flex-basis: 655px;
    margin: 40px 0;
    min-width: 0;
    object-fit: contain;
    object-position: top;
}

.intro__desc {
    flex-basis: 435px;
    margin-left: 50px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 121.52%;
    /* or 44px */

    letter-spacing: 0.01em;

    color: #F2F2F2;

    position: relative;
    bottom: 22px;
    background-color: #0428A6;
}

.intro__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 143.52%;
    /* or 26px */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
    .intro__wrapper {
        max-width: calc(100% - 40px);
    }
}


@media screen and (max-width: 1024px) {
    .intro__img {
        flex-basis: 350px;
    }
    .intro__desc {
        flex-basis: 305px;
    }    
    .intro__paragraph {
        font-size: 12px;
    }
    .intro__title {
        font-size: 24px;
        bottom: 16px;
    }
}

@media screen and (max-width: 768px) {
    .intro__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .intro__img {
        max-width: 80%;
        flex-basis: initial;
    }
    .intro__desc {
        max-width: 80%;
        flex-basis: initial;
        margin-left: 0;
        margin-right: 0;
    }
}