.features {
    display: flex;
    flex-direction: column;
    max-width: 1061px;
    margin: 92px auto  0;
    padding-bottom: 153px;
}

.features_desc {
    max-width: 762px;
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140.52%;
    color: #E9E9E9;
}

.features__heading {
    margin: 71px 0 16px;
    font-weight: bold;
    font-size: 36px;
    line-height: 132.52%;
    color: #0093DD;
}

.features__list {
    display: flex;

    list-style-type: none;
    margin: 0 0 153px;
    padding: 0;
}

.features__list-item {
    max-width: 337px;
    margin-left: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 132.52%;

    color: #FFFFFF;
}

.features__list-item:first-of-type {
    margin-left: 0;
    max-width: 250px;
}
.features__list-item:nth-of-type(2) {
    max-width: 225px;
}

.features__accent {
    font-weight: bold;
    font-size: 36px;
    line-height: 143.02%;
    color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
    .features {
        max-width: calc(100% - 40px);
        margin: 52px auto 0px;
    }

    .features_desc {
        max-width: 480px;
        font-size: 16px;
    }

    .features__heading {
        font-size: 24px;
    }
    .features__list-item {
        font-size: 18px;
        margin-left: 30px;
        max-width: 200px;
    }
    .features__list-item:first-of-type {
        max-width: 180px;
    }
    .features__list-item:nth-of-type(2) {
        max-width: 160px;
    }
    .features__accent {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .features__list {
        flex-direction: column;
        margin-bottom: 60px;
    }    
    .features__list-item {
        margin-left: 0;
        margin-bottom: 30px;
    }
}